@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
</head>
<body>
    <div class="text-center m-2">
        <h2>
            <a asp-action="Index1"> Jetz die Welt retten</a>
        </h2>
    </div>
</body>

<a asp-action="Index"> Hauptmenü </a>
