@model List<Held>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2></h2>
    <table>
        <thead>
            <tr><th>Vorname</th><th>Nachname</th><th>Beruf</th></tr>
        </thead>
        <tbody>
            @foreach (Held r in Model!)
            {
                <tr>
                    <td>@r.vorname</td>
                    <td>@r.nachname</td>
                    <td>@r.beruf</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

























<a asp-action="Index10"> Hauptmenü </a>
